<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <title>{% block head_title %}Blog{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    </head>
    <body>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img class="bi me-2" src="https://raw.githubusercontent.com/Lyainc/do-it-django/main/blog/static/blog/perspective_7404815.png" width="40" heigth="32"/>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/" class="nav-link px-2 link-secondary">My Blog Page</a></li>
                  <li><a href="/" class="nav-link px-2 link-body-emphasis">Home</a></li>
                  <li><a href="/blog/" class="nav-link px-2 link-body-emphasis">Blog</a></li>
                  <li><a href="/about_me/" class="nav-link px-2 link-body-emphasis">About Me</a></li>
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control" placeholder="검색" aria-label="Search">
                </form>
              </div>
            </div>
          </header>
    </body>
</html>