{% extends 'blog/base.html' %}
{% load static %}
{% block main_area %}
    <h1>Blog {% if category %} - {{ category }} {% endif %}</h1>
    {% if post_list.exists %}
        {% for p in post_list %}
        <div class="card mb-4" id="post-{{ p.pk }}">
            {% if p.head_image %}
            <a href="#!"><img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image"></a>
            {% else %}
            <a href="#!"><img class="card-img-top" src="https:/picsum.photos/seed/{{ p.id }}/800/200" alt="{{ p }} head image"></a>
            {% endif %}
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ p.get_absolute_url }}" style="text-decoration-line: none; color: black;"><h2 class="card-title">{{ p.title }}</h2></a>
                    <h3 class="badge text-bg-secondary rounded-pill">{{ p.category }}</h3>
                </div>
                {% if p.subtitle %}
                    <h5 class="text-muted">{{ p.subtitle }}</h5>
                {% endif %}
                <p class="card-text">{{ p.content | truncatewords:40 }}</p>
                {% if p.tags.exists %}
                    <i class="fas fa-solid fa-tags"></i>
                    {% for tag in p.tags.all %}
                        <a href="{{ tag.get_absolute_url }}"><span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">{{ tag }}</span></a>
                    {% endfor %}
                    </br>
                    </br>
                {% endif %}
                <div class="small text-muted">{{ p.created_at | date:"Y-m-d H:i" }} | {{ p.author }}</div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h3>아직 게시물이 없습니다.</h3>
    {% endif %}
{% endblock %}