{% extends 'blog/base.html'%}
{% load static %}
{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}
{% block main_area%}
    <div id="main-area">
        <!-- Post content-->
        <article id="post-area">
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                <h5 class="text-muted">{{ post.subtitle }}</h5>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">Posted on {{ post.created_at }}, by {{ post.author }}</div>
                <!-- Post categories-->
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.category }}</a>
            </header>
            <!-- Preview image figure-->
            {% if post.head_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ p }} head image"></figure>
            {% else %}
            <figure class="mb-4"><img class="img-fluid rounded" src="https:/picsum.photos/seed/{{ p.id }}/800/200" alt="{{ p }} head image"></figure>
            {% endif %}
            <!-- Post content-->
            <section class="mb-5">
                <p> {{ post.content }} </p>
                {% if post.tags.exist %}
                    <i class="fas fa-solid fa-tags"></i>
                    {% for tag in p.tags.all %}
                        <a href="{{ tag.get_absolute_url }}"><span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">{{ tag }}</span></a>
                    {% endfor %}
                    </br>
                    </br>
                {% endif %}
                {% if post.file_upload %}
                <a href="{{ post.file_upload.url }}">
                    <button class="btn btn-primary d-inline-flex align-items-center" type="button">
                        {% if post.get_file_ext == 'csv' %}
                            <i class="fas fa-solid fa-file-csv"></i>&nbsp;
                        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                            <i class="fas fa-solid fa-file-excel"></i>&nbsp;
                        {% elif post.get_file_ext == 'png' or post.get_file_ext == 'jpeg' or post.get_file_ext == 'jpg' %}
                            <i class="fas fa-solid fa-image"></i>&nbsp;
                        {% elif post.get_file_ext == 'pdf' %}  
                            <i class="fas fa-solid fa-file-pdf"></i>&nbsp;
                        {% else %}
                            <i class="fas fa-solid fa-file"></i>&nbsp;
                        {% endif %}
                        Download:
                        {{ post.get_file_name | truncatechars:10 }}
                        {% if post.get_file_ext == 'csv' %}
                            .csv
                        {% elif post.get_file_ext == 'xlsx' %}
                            .xlsx
                        {% elif post.get_file_ext == 'png' %} or 
                            .png
                        {% elif post.get_file_ext == 'jpeg' %}
                            .jpeg
                        {% elif post.get_file_ext == 'jpg' %}
                            .jpg
                        {% elif post.get_file_ext == 'pdf' %}  
                            .pdf
                        {% else %}
                            .file
                        {% endif %}
                    </button>
                </a>
                {% endif %}
            </section>
        </article>
        <!-- Comments section-->
        <section class="mb-5" id="comment-area">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form-->
                    <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                    <!-- Comment with nested comments-->
                    <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                            <!-- Child comment 1-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                </div>
                            </div>
                            <!-- Child comment 2-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When you put money directly to a problem, it makes a good headline.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single comment-->
                    <div class="d-flex">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}