<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9cade0da4d.js" crossorigin="anonymous"></script>
</head>
<body>

{% include 'blog/navbar.html' %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 col-lg-9" id="main_area">

            {% block main_area %}
            {% endblock %}

        </div>
        <div class="col-md-4 col-lg-3">
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4" id="categories-card">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row" style="padding-left: 12px;">
                            <ul>
                                {% for category in categories %}
                                <li>
                                    <a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count }})</a>
                                </li>
                                {% endfor %}
                                <li>
                                    <a href="/blog/category/no_category/">미분류 ({{ no_category_post_count }})</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'blog/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Blog</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Test</h1>-->

<!--{% for p in post_list %}-->
<!--    <hr/>-->
<!--    <h2><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>-->
<!--    <h4>{{ p.created_at }}</h4>-->
<!--    <p>{{ p.content }}</p>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->